{% macro display(posts) %}
<div class="container-fluid">
	<div class="row">
		{% if posts %}
		{% for category in posts %}
		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header bg-success">Pitch: {{category.title}}</h5>
				<div class="card-body">
					<p> {{category.post}}</p>
					<p> Category: {{category.category_name}}</p>
					<div><span class="footer">Content: {{category.content}}</span></div>
                    <p> Posted at: {{category.date_posted}}</p>
				</div>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<div class="card w-90 mb-3">
			<div class="card-body">

				<p class="card-title">Category Has 0 posts</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endmacro %}